TARGET := i686-elf
ARCH := i386

INCLUDE_DIR := /usr/include
BOOT_DIR := /boot
LIB_DIR := /usr/lib

ISO := epos-$(ARCH).iso

CROSS_DIR ?= ~/opt/cross/bin
CC ?= $(CROSS_DIR)/$(TARGET)-gcc --sysroot=$(SYSROOT) -isystem=$(INCLUDE_DIR)
AR ?= $(CROSS_DIR)/$(TARGET)-ar

WARNINGS := -Wall -Wextra -pedantic -Wshadow -Wpointer-arith -Wcast-align \
            -Wwrite-strings -Wmissing-prototypes -Wmissing-declarations \
            -Wredundant-decls -Wnested-externs -Winline -Wno-long-long \
            -Wstrict-prototypes

CFLAGS += -std=gnu11 -ffreestanding -fno-builtin $(WARNINGS)
CPPFLAGS += -Iinclude
